/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: left; /* Adicionado para garantir alinhamento à esquerda global */
}

/* Estilo da barra de navegação */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo da marca da navbar */
.navbar-brand {
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Margem direita para a logo */
.navbar-brand img {
    margin-right: 10px;
}

/* Estilo dos links da navbar */
.navbar-nav .nav-link {
    font-size: 1.1em;
}

/* Estilo para o link ativo na navbar */
.navbar-nav .nav-item.active .nav-link {
    color: #090000 !important;
    font-weight: bold;
}

/* Estilo do jumbotron */
.jumbotron {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 2rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Garantir alinhamento à esquerda */
}

/* Estilo do título principal do jumbotron */
.jumbotron .display-4 {
    font-weight: bold;
}

/* Estilo do texto principal do jumbotron */
.jumbotron .lead {
    font-size: 1.2em;
}

/* Estilo do rodapé */
footer {
    background-color: #f1f1f1;
    padding: 1rem 0;
    margin-top: 2rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo dos títulos das seções do rodapé */
footer h5 {
    font-weight: bold;
}

/* Estilo dos links do rodapé */
footer a {
    color: #000000;
}

/* Efeito de hover nos links do rodapé */
footer a:hover {
    text-decoration: underline;
}

/* Estilo da área de direitos autorais no rodapé */
footer .text-center {
    background-color: #e9ecef;
    padding: 1rem 0;
    text-align: left; /* Garantir alinhamento à esquerda */
}

/* botão de login */
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #fffdfd 0%, #99fbf0 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

/* BOTÃO POWER */
.toggle-switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px; /* Modificado o tamanho para 80px */
    height: 40px; /* Modificado o tamanho para 40px */
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
    z-index: 1000;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 40px; /* Modificado o tamanho para 40px */
    background-color: var(--dark);
    border-radius: 20px; /* Modificado o raio para 20px */
    cursor: pointer;
    border: 2px solid var(--dark); /* Modificado a espessura para 2px */
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px; /* Modificado o raio para 20px */
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 7px; /* Ajustado a posição vertical */
    left: 7px; /* Ajustado a posição horizontal */
    width: 26px; /* Modificado o tamanho para 26px */
    height: 26px; /* Modificado o tamanho para 26px */
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*card*/

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 190px;
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #00ffdf;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

/*card redes sociais*/

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

