/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: left; /* Adicionado para garantir alinhamento à esquerda global */
}

/* Estilo da barra de navegação */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo da marca da navbar */
.navbar-brand {
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Margem direita para a logo */
.navbar-brand img {
    margin-right: 10px;
}

/* Estilo dos links da navbar */
.navbar-nav .nav-link {
    font-size: 1.1em;
}

/* Estilo para o link ativo na navbar */
.navbar-nav .nav-item.active .nav-link {
    color: #090000 !important;
    font-weight: bold;
}

/* Estilo do jumbotron */
.jumbotron {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 2rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Garantir alinhamento à esquerda */
}

/* Estilo do título principal do jumbotron */
.jumbotron .display-4 {
    font-weight: bold;
}

/* Estilo do texto principal do jumbotron */
.jumbotron .lead {
    font-size: 1.2em;
}

/* Estilo do rodapé */
footer {
    background-color: #f1f1f1;
    padding: 1rem 0;
    margin-top: 2rem;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo dos títulos das seções do rodapé */
footer h5 {
    font-weight: bold;
}

/* Estilo dos links do rodapé */
footer a {
    color: #000000;
}

/* Efeito de hover nos links do rodapé */
footer a:hover {
    text-decoration: underline;
}

/* Estilo da área de direitos autorais no rodapé */
footer .text-center {
    background-color: #e9ecef;
    padding: 1rem 0;
    text-align: left; /* Garantir alinhamento à esquerda */
}

/* botão de login */
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #fffdfd 0%, #ffffff 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

/* BOTÃO POWER */
.toggle-switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px; /* Modificado o tamanho para 80px */
    height: 40px; /* Modificado o tamanho para 40px */
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
    z-index: 1000;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 40px; /* Modificado o tamanho para 40px */
    background-color: var(--dark);
    border-radius: 20px; /* Modificado o raio para 20px */
    cursor: pointer;
    border: 2px solid var(--dark); /* Modificado a espessura para 2px */
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px; /* Modificado o raio para 20px */
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 7px; /* Ajustado a posição vertical */
    left: 7px; /* Ajustado a posição horizontal */
    width: 26px; /* Modificado o tamanho para 26px */
    height: 26px; /* Modificado o tamanho para 26px */
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}



/*card redes sociais*/

button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255,0,0);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255,0,0);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

button span {
    margin: 10px;
}

button::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

button:hover {
    color: #fff;
    border: 1px solid rgb(255,0,0);
}

button:hover::before {
    box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}